{% extends "base.html" %}

{% block title %}আমাদের সম্পর্কে - CUCSU{% endblock %}

{% block content %}

<div class="container my-5">
    <h2 class="mb-4">About This Project</h2>
    
    <p>আমি <strong>রিজুয়ান</strong>, চট্টগ্রাম বিশ্ববিদ্যালয়ের কম্পিউটার সায়েন্স এন্ড ইঞ্জিনিয়ারিং এর সাবেক ছাত্র। নিজের শখে এই প্রজেক্টটি তৈরি করেছি, যার মাধ্যমে চাকসু নির্বাচনে একটি অংশ হতে পারবো।</p>
    
    <p>এই প্রজেক্টের ক্রেডিট সম্পূর্ণভাবে <strong>MidDayDreams Software ফার্ম</strong> এর, কারণ আমি যা শিখছি, তার সবকিছু Middaydreams এর মাধ্যমে হয়েছে। কারো সফটওয়্যার বা ওয়েবসাইট প্রয়োজন হলে জানাতে পারেন।</p>
    
    
    <p>
        Powered By 
        <a href="https://ektakayshikkha.org/" class="text-decoration-none fw-bold">এক টাকায় শিক্ষা</a> ফাউন্ডেশন (এই ফাউন্ডেশনের নাম দেওয়ার কারণ হচ্ছে কেউ যদি চায় যেন আমাদের সাথে যুক্ত হতে পারে এবং আমাদের সাথে যুক্ত হয়ে শিক্ষা কার্যক্রমে সহযোগিতা করতে পারে।)
        </p>
        
    <p>যদি কেউ প্রজেক্টটি দেখার পর সহযোগিতা করতে চান, তারা আমাদের স্বেচ্ছাসেবী কাজে যুক্ত হতে বা অনুদান দিতে পারেন। এক টাকায় শিক্ষা ফাউন্ডেশন স্কলারশিপ প্রদান করে এবং একটি ক্লাসরুম পরিচালনা করে, যেখানে যেকেউ ক্লাস নিতে পারে। অনুদান দেওয়া যায় <strong>বিকাশ</strong> এবং <strong>ওয়েবসাইট</strong> এর মাধ্যমে।</p>
</div>
{% endblock %}