{% extends 'base.html'%}
{% block title %}আমাদের সম্পর্কে - CUCSU{% endblock %}

{% block content %}
<div class="container my-5">
    <h2 class="mb-4">যোগাযোগ</h2>
    

    <p>
        যেহেতু খুব অল্প সময়ে এবং সীমিত টেস্টিং-এর মাধ্যমে লঞ্চ হয়েছে, তাই টেকনিক্যাল ইস্যু থাকলে সরাসরি আমার  
         -  
         
        এ যোগাযোগ করার অনুরোধ করছি। মেজর ইস্যু হলে আপডেট করার চেষ্টা করবো। </br>

        Mobile:<a  style="color:blue;"> 01837714030</a> </br>
        Email: <a  style="color:blue;">mdrizuanmozquree@gmail.com</a> 
    </p>
    
   
</div>


{% endblock %}